/* AdminDashboard.css */

.admin-dashboard {
    text-align: center;
    padding: 20px;
  }
  
  .admin-heading {
    margin-top: 45px;
    font-size: 2rem;
    color: #333;
  }
  
  .admin-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .admin-image {
    width: 400px; /* Adjust as needed */
    height: auto;
    border-radius: 5%;
    margin-top: 6rem;
  }
  
  .feature-cards-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .feature-card {
    width: 200px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
  }
  
  .feature-card:hover {
    transform: scale(1.05);
  }
  
  .feature-card-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
  }
  
  .feature-card-title {
    font-size: 1.2rem;
    color: #333;
  }
  